@import '_settings.scss';

$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 5px;

$card-border-radius: 3px;

$column-height: calc(#{$board-content-height} - #{$gap * 2});

.column {
  flex: 0 0 auto;
  width: 300px;
  height: $column-height;
  
  // separate all card columns
  // &:not(:first-child) {
  //   margin-left: $gap;
  // }

  margin-left: $gap;

  > * {
    background-color: $list-bg-color;
    color: #333;
    padding: 0px 8px;
  }

  header.column-drag-handle {
    cursor: pointer;
    padding-left: 15px;
    height: $column-header-height;
    line-height: $column-header-height;
    font-weight: bold;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  footer {
    padding-left: 15px;
    height: $column-footer-height;
    line-height: $column-footer-height;
    font-weight: bold;
    font-size: 16px;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
  }

  .card-list {
    margin: 0;
    // dynamically show scrollbar in one card column
    max-height: calc(#{$column-height} - #{$column-header-height} - #{$column-footer-height});
    // max-height: calc(#{$column-height} - 96px);
    overflow-y: scroll;

    &::-webkit-scrollbar{
      -webkit-appearance: none;
      // appearance: none;
    }

    &::-webkit-scrollbar:vertical{
      width: 11px;
    }

    &::-webkit-scrollbar-thumb{
      background-color: darken($list-bg-color, 15);
      border-right: 5px $list-bg-color solid;
    }

    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg)
    }
    
    .card-ghost-drop{
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg)
    }

    .card-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
    
    // .cards-drop-preview {
    //   background-color: rgba(150, 150, 200, 0.1);
    //   border: 1px dashed #abc;
    //   margin: 5px 45px 5px 5px;
    // }
    
    // li.card-item {
    //   background-color: white;
    //   padding: $gap;
    //   border-radius: $card-border-radius;
    //   box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    //   &:not(:last-child){
    //     margin-bottom: $gap;
    //   }

    //   img {
    //     display: block;
    //     width: calc(100% + 2* #{$gap});
    //     // width: 100%;
    //     margin: -$gap 0 $gap (-$gap);
    //     border-top-left-radius: $card-border-radius;
    //     border-top-right-radius: $card-border-radius;
    //   }
    // }
  }
}